@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1rem;
}

:root {
  /* Indigo */
  --color-brand-50: #f3f0ed;
  --color-brand-100: #ebe4dd;
  --color-brand-200: #e9e1d9;
  --color-brand-500: #e0d5cb;
  --color-brand-600: #cfc5bb;
  --color-brand-700: #c0b5ab;
  --color-brand-800: #aca198;
  --color-brand-900: #80766e;

  /* Grey */
  --color-grey-0: #fff;
  --color-grey-50: #f9f9f9;
  --color-grey-100: #f3f3f3;
  --color-grey-200: #e5e7e7;
  --color-grey-300: #d1d1d1;
  --color-grey-400: #9c9c9c;
  --color-grey-500: #6b6b6b;
  --color-grey-600: #4b4b4b;
  --color-grey-700: #373737;
  --color-grey-800: #1f1f1f;
  --color-grey-900: #111111;

  --color-blue-100: #e0f2fe;
  --color-blue-700: #0369a1;
  --color-green-100: #dcfce7;
  --color-green-700: #15803d;
  --color-yellow-100: #fef9c3;
  --color-yellow-700: #a16207;
  --color-silver-100: #e5e7eb;
  --color-silver-700: #374151;
  --color-indigo-100: #e0e7ff;
  --color-indigo-700: #4338ca;

  --color-red-100: #fee2e2;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  --backdrop-color: rgba(255, 255, 255, 0.1);

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;

  /* For dark mode */
  --image-grayscale: 0;
  --image-opacity: 100%;
}

* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

* ::-webkit-scrollbar-track {
  background: transparent;
}

* ::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-300);
  opacity: 0.5;
  border-radius: 6px;
  border: 1px solid var(--color-grey-100);
}
